
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // All requests stored here
    match /requests/{requestId} {

      // Any user can read the information
      allow read: if true; 
      // Only authenticated users in the CT Tech domain may write
      allow write: if true;
    }
  }
}
